<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sj.demo.mapper.log.SjSysLogsMapper">

    <insert id="insert" parameterType="com.sj.demo.domain.SjSysLogs" useGeneratedKeys="true" keyProperty="id">
        insert into sj_sys_logs(
        <if test="id != null ">id,</if>
        <if test="className != null and className != ''">class_name,</if>
        <if test="level != null and level != ''">`level`,</if>
        <if test="logger != null and logger != ''">logger,</if>
        <if test="message != null and message != ''">message,</if>
        <if test="function != null and function != ''">`function`,</if>
        <if test="type != null">`type`,</if>
        create_date
        )values(
        <if test="id != null ">#{id},</if>
        <if test="className != null and className != ''">#{className},</if>
        <if test="level != null and level != ''">#{level},</if>
        <if test="logger != null and logger != ''">#{logger},</if>
        <if test="message != null and message != ''">#{message},</if>
        <if test="function != null and function != ''">#{function},</if>
        <if test="type != null">#{type},</if>
        sysdate()
        )
    </insert>

</mapper>